body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#hideSecond {
    margin-top: 100px;
    display: none;
}

#hideThird {
    display: none;
}

#sck {
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    border: 2px solid black;
}

#bdy {
}
